<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('./title-meta') %>
        <%- typeof extra_css !=='undefined' ? extra_css : '' %>
            <%- include ('./head-css') %>
</head>

<body id="body" <%- typeof body !=='undefined' ? body : '' %> >

    <%- typeof content !=='undefined' ? content : '' %>

        <!-- vendor js -->
        <%- include ('./vendorjs') %>
            <!-- App js -->
            <script src="/js/app.js"></script>

            <%- typeof extra_javascript !=='undefined' ? extra_javascript : '' %>

</body>

</html>