<%- contentFor('extra_css') %>

<%- contentFor('content') %>

<div class="container-xxl mt-4">
  <form method="POST">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="roleName" class="form-label">Role Name</label>
        <input type="text" class="form-control" id="roleName" name="name" required placeholder="e.g. Editor" value="<%= role.name %>">
      </div>
      <div class="col-md-6">
        <label for="roleDescription" class="form-label">Role Description</label>
        <input type="text" class="form-control" id="roleDescription" name="description" placeholder="Describe the role" value="<%= role.description %>">
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Update Role</button>
    <button type="button" class="btn btn-danger" onclick="deleteRole('<%= role._id %>')">Delete Role</button>

  </form>
</div>

<script>
  function deleteRole(roleId) {
    if (confirm("Are you sure you want to delete this role?")) {
      fetch(`/api/deleteRole/${roleId}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (response.ok) {
          window.location.href = '/roles';
        } else {
          alert("Failed to delete role.");
        }
      })
      .catch(error => console.error('Error:', error));
    }
  }
</script>

<%- contentFor('extra_javascript') %>
