<%- contentFor('extra_css') %>

    <link href="/libs/simple-datatables/style.css" rel="stylesheet" type="text/css" />

    <%- contentFor('content') %>

        <div class="container-xxl">

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">User Details</h4>
                                </div>
                            </div>
                            <a href="/role/add" class="btn btn-primary">Add Role</a>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table datatable" id="datatable_1">
                                    <thead class="table-light">
                                        <tr>
                                            <th style="width: 16px;">
                                                <div class="form-check mb-0 ms-n1">
                                                    <input type="checkbox" class="form-check-input" name="select-all"
                                                        id="select-all">
                                                </div>
                                            </th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Permissions</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (!roles || roles.length === 0) { %>
                                            <tr>
                                                <td colspan="3" class="text-center text-muted">No data found</td>
                                            </tr>
                                            <% } else { %>
                                                <% for (let i=0; i < roles.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= i + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= roles[i].name %>
                                                        </td>
                                                        <td>
                                                            <%= roles[i].description %>
                                                        </td>
                                                        <td>
                                                            <a href="/role-permission/<%= roles[i]._id %>">Manage Permissions</a>
                                                        </td>
                                                        <td>
                                                            <a href="/edit-role/<%= roles[i]._id %>">View role</a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                    </tbody>

                                </table>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->

        </div><!-- container -->

        <%- contentFor('extra_javascript') %>

            <script src="/libs/simple-datatables/umd/simple-datatables.js"></script>
            <script src="/js/pages/datatable.init.js"></script>